<div class="row">
	<div class="col-md-6">
		<div class="well">
			<%= image_tag "meteorite.png", id: "variables" %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h1>No Nachos!</h1>
			<p>We looked and looked for nachos near you, but there were no nachos to be found.</p>
			<p>Please go back to the search page and find somewhere else</p>
			<p><%= link_to "Go Back", winner_path, class: "btn btn-success" %></p>
		</div>
	</div>
</div>