<h1>About</h1>

<p>
This is a game intended to introduce kids to basic programming concepts through Ruby, a popular programming language that's English-based and easy to read.  No downloading required.
</p>

<p>
After they learn, kids are rewarded by being able to play with an interactive map where aliens eat nachos. It's a fun, simple story with simple science facts thrown in for fun.
</p>

<h1>About Me</h1>

<p>
I am a programmer and a mother of two young girls, who both signed off on the awesomeness of aliens and nachos. My goal with this web app is to encourage and inspire young kids in STEM fields, especially young girls. You can find out more about me at my personal website, found here.
</p>

<h1>What I Used</h1>

<p>
Thanks to Standard Code's Database of Nachos for inspiring the idea.
</p>

<p>
I also used NASA's database of meteorite finds for my "spaceship landing sites", and the ubiquitous Google Maps to plot them out.
</p>

<p>
The majority of the animations were done using jQuery, though the " spinning nacho" effect used CSS3.
</p> 