<p>My name is Elsif. I come from outer space, but sometimes we like to visit earth because we love Earthling nachos! Would you like to see our favorite nacho spot near you?</p>

<p>I will tell you, but first you have to pass a test and learn Ruby. Ruby is a programming language. That means you can use it to talk to your computer. We need to talk to our computers a lot in our space ships.</p>

<p>Are you ready to learn Ruby and find nachos?!</p>

<%= link_to "Start!", go_path(id: 1), class: "btn btn-success" %>
